oglasi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="oglasi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="oglas" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="kategorija">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="automobili" minOccurs="0"/>
                    <xs:element type="xs:string" name="stanovi" minOccurs="0"/>
                    <xs:element type="xs:string" name="laptopovi" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="datumIsteka">
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="\d\d\d\d-\d\d-\d\d"></xs:pattern>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>             
              <xs:element name="cena">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ogranicenaCena">                      
                      <xs:attribute name="valuta" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="RSD"/>
                            <xs:enumeration value="EUR"/>
                          </xs:restriction>
                        </xs:simpleType>                       
                      </xs:attribute>                      
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element> 
              <xs:element name="tekstOglasa">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:minLength value="10"/>
                    <xs:maxLength value="180"/>
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="oznaka" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element name="email" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="emailAddress">
                      <xs:attribute type="xs:string" name="tip" use="required"/>
                    </xs:extension>                   
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ogranicenaCena">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emailAddress">
    <xs:restriction base="xs:token">
        <xs:maxLength value="254"/>
        <xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>